body{
    background-color: lightgreen;
}

.container{
    width: 800px;
    height: 158px;
    top: 62px;
    left: 240px;
    border-radius: 13px;
    border: 2px solid white;
    display: flex;
    position: relative;

}

.main{
    position: relative;
    /* top: 100px;
    left: 300px; */
}

.name{
    width: 135px;
    height: 37px;
    top: 78px;
    left: 258px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
}

.cScore{
    width: 139px;
    height: 128px;
    top: 77px;
    left: 713px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin: auto;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
}

.uScore{
    width: 139px;
    height: 128px;
    top: 77px;
    left: 881px;
    border-radius: 9px;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    margin: auto;
}

.game{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rule{
    position: fixed;
    width: 303px;
    height: 300px;
    top: 270px;
    left: 964px;
    border-radius: 13px;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #FFFFFF;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    background: #004429;
    color: #FFFFFF;
    display: none;
}

p{
    width: 156px;
    height: 27px;
    top: 25px;
    left: 61px;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.rock{
    height: 150px;
    width: 150px;
    border: 15px solid blue;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("stone.png");
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

#rock{
    position: absolute;
    top: 100px;
    left: 600px;
}

#paper{
    position: absolute;
    top: 100px;
    left: 300px;
}

#scissors{
    position: absolute;
    top: 300px;
    left: 450px;
}

.paper{
    height: 150px;
    width: 150px;
    border: 15px solid purple;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("paper.png");
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.scissors{
    height: 150px;
    width: 150px;
    border: 15px solid orange;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("scissor.png");
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.close {
    position: fixed;
    top: 255px;
    right: 1px;
    color: #FFFFFF;
    font-weight: 900;
    background-color: red;
    border: 2px solid white;
    border-radius: 30px;
    height: 40px;
    width: 40px;
}

#ruleBT{
    position: fixed;
    margin-left: 80%;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: left;
    width: 119px;
    height: 40px;
    top: 580px;
    left: 100px;
    border-radius: 10px;
    border: 2px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border: 2px solid white;
}

#comInput{
    display: none;
}

#Brock, #Bpaper, #Bscissor{
    display: none;
    position: absolute;
    top:210px;
    left: 750px;
}

#result{
    position: absolute;
    top: 200px;
    left: 450px;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    width: 300px;
}

#replay{
    display: none;
    position: absolute;
    width: 170px;
    height: 44px;
    border-radius: 9px;
    top: 350px;
    left: 530px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #6B6B6B;
    background: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}

#star{
    position: absolute;
    top: 50px;
    left: 350px;
}

#vector{
    position: absolute;
    top: 150px;
    left: 500px;
}

#final{
    background: white;
    border: 3px solid black;    
}

#text1{
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    top: 310px;
    left: 450px;
}

#text2{
    color: #FFFFFF;
    font-size: 50px;
    width: 600px;
    height: 50px;
    position: absolute;
    top: 420px;
    left: 330px;
}

#end{
    display: none;
}

#final{
    position: absolute;
    left: 550px;
    width: 174px;
    height: 44px;
    top: 550px;
    border: 2px solid white;
    border-radius: 9px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
}
